h1 {
    position: fixed;
    background: #4aaaa5;
    color: white;
    left: 300px;
    top: 0px;
    padding: 40px;
    margin: 0px;
    font-family: Georgia, Times, 'Times New Roman', serif;
    
    
}

nav {
    position: fixed;
    left: 1020px;
    padding: 40px;
    margin: 0;
    text-align: center;
    top: 10px;
    
}


a {
    color: #777777;
}


.maincontent {
     margin: 0;
     width: 960px;
     background-color: #ffffff;
    

}


header {
    background-color: #ffffff;
    padding: 50px;
    top: 0px;
}
